# Database connections
DB_URI=postgres://${USER_NAME}:${PASSWORD}@${HOST}:${PORT}/${DB_NAME}?sslmode=disable
DB_MAX_IDLE_CONNS=
DB_MAX_IDLE_TIME=
DB_MAX_OPEN_CONNS=

# App config
APP_ENV=development
PORT=8080
LOG_LEVEL=debug
TRUSTED_ORIGINS=*

# Rate limit
RATE_LIMIT_REQUEST_PER_TIMEFRAME=
RATE_LIMIT_TIMEFRAME=
RATE_LIMIT_ENABLED=
